@media screen and (max-width: 480px) and (min-width: 321px) {
	.promo {
		margin-bottom: 40vh !important;
	}
	.promo .promo-top {
		overflow: visible !important;
	}
	.promo .promo-top .box.autoWidth {
		width: 100% !important;
		background: transparent !important;
	}
	.promo .promo-top .top-mobile-35{
		top: 35vh;
	}
	.promo .homeTopLeft .shield {
		margin-top: 30px;
	}
	.promo .promo-top .box.autoWidth .shield #cl-effect-5 {
		margin-left: 20px;
	}
}
