@media only screen and (max-width:320px) {
	.homeTopLeft.fr.re_fl > .custom .box.autoWidth {
		margin-left: 0px !important;
	}
	.homepage .homeTopLeft .shield {
		width: 100%;
		padding-left: 31px !important;
		padding-right: 31px !important;
		padding: 41px 30px 10px;
	}
	.homepage .homeTopLeft .box {
		width: 100% !important;
	}
	.homepage .homeTopLeft .mascot {
		background: transparent;
	}
	.homepage .homeTopLeft .holder {
		display: none !important;
	}
	.homepage .homeTopRight .red a.button {
		padding-left: 25px !important; 
	}
	.sheld:before {
	    margin-left: calc(100% - 320px) !important;
	}

	/* ==================== */
}
@media only screen and (min-width: 321px) and (max-width:375px) { 
	.sheld:before {
	    margin-left: calc(100% - 375px) !important;
	}
}

@media only screen and (max-width:767px){
	header .container .logo img {
    width: 235px;
    height: auto;
}
}