@media only screen and (max-width:320px) { 
	.kenproducts {
		padding-top: 0px !important;
	}
	.garung_tab_mobile {
	    display: block !important;
	}
	.kenproducts .box-shadow .garung_tab_mobile #tab a.btn{
		width: 100%;
		border-radius: 0;
		border: none;
		margin-left: 0px;
	}
	.kenproducts .col_show {
		width: 40% !important;
	}
	.kenproducts .tab_content_hide {
		display: none !important; 
	}
	.kenproducts .garung-product-box {
		width: 100%;
	}
	.kenproducts .garung-product-box .footer-more{
		padding-top: 80px;
	}
	.kenproducts .garung_plan_feature {
		height: auto !important;
	}
	.kenproducts .garung_plan_feature .footer-more{
		padding-top: 360px;
	}
	.kenproducts .garung-product-box {
		height: auto !important;
	}
	.kenproducts .garung-product-box .body-more .body-more1{ 
		height: 103px !important;
	}
	.kenproducts .garung-product-box .body-more .body-more2{ 
		height: 165px;
		max-height: 170px;
		overflow-y: scroll;
	}
	.kenproducts .logo-lifelock-text {
		width: 100%;
	}
	.kenproducts .logo-lifelock-text .logo {
		width: auto;
	}
	.kenproducts .logo-lifelock-text .text p{
		
	}
	.kenproducts .logo-lifelock-text .text p span{
		font-size: 20px !important;
	}
	.kenproducts .header-more p a.btn {
		font-size: 8px;
	}
	.kenproducts .check_li_num {
		font-size: 10px !important;
	}
	.kenproducts .box-shadow {
		height: 1830px !important;
	}
	.kenproducts .header-more .innerCont img {
		width: 100%;
	}
}