@media only screen and (max-width:320px) {
	.promo {
		margin-bottom: 50vh !important
	}
	/*.promo-mobile-section2 {
		margin-top: 50vh;
	}*/
	.promo .promo-top {
		overflow: visible !important;
	}
	.promo .promo-top .box.autoWidth {
		width: 100% !important;
		background: transparent !important;
		margin-left: 0px !important;
		padding-left: 0px;
	}
	.promo .promo-top .box.autoWidth .shield #cl-effect-5 {
		margin-left: 15px;
	}
	.promo .promo-top .top-mobile-35 {
		top: 45vh;
	}
	.promo .homeTopLeft .mascot {
		background: transparent;
	}
	.promo .homeTopLeft .shield {
		width: 100%;
		padding-left: 31px !important;
		padding-right: 31px !important;
		margin-top: 30px;
	}
	.promo .homeTopLeft .holder {
		display: none !important;
	}
	.promo .homeTopRight h2,.promo .homeTopRight .h2 {
		font-size: 57px;
	}
}