@media screen and (min-width: 568px) and (max-width:768px) {
	.main-menu .menu li {
		min-width: 153.5px; 
	}
	#page-reviews .content-reviews .client-readmore .control-box-content .control-the-content {
		width: 100% !important;
	}
}
@media screen and (min-width: 768px){
	header #navbar .nav ul.menu li{
	    width: calc(100%/5);
	    min-width: 97.9px !important;
	}
}
