@media screen and (min-width: 568px) and (max-width:768px) {
	.promo .homeTopLeft {
		margin-top: 45px;
	}
	.promo .promo-top .box.autoWidth {
		width: 100% !important;
	}
	.promo .promo-top .homeTopRight {
		max-width: 100% !important;
	}
}