@media screen and (min-width: 1024px) and (max-width: 1279px) {
	/*.main-menu .menu li {
		min-width: 97.5px; 
	}*/
	header .container .logo img {
		width: 262px !important;
		padding-top: 10px;
	}
	.home .homeTopLeft .shield {
		padding: 41px 55px 83px !important;
	}
}

@media screen and (min-width: 1280px) {
	/*.main-menu .menu li {
		min-width: 127.9px; 
	}*/
}