.garung_custom_column {
	padding-left: 0px !important;
}
#garung-blog {
	.garung-header {
		.catItemDateCreated {
			p {
				margin-bottom: 0px;
				margin-top: 20px;
			}
		}
	}
	.post-thumnai {
		width: auto !important;
		margin-right: 15px;
	}
	.entry-footer {
		p {
			font-family: arial !important;
		}
		.catItemCategory {
			padding-left: 0px;
		}
		.catItemTagsBlock {
			padding-left: 0px;
			height: 25px;
		}
		.garung_cat_readmore {
			margin-top: 15px;
			.more-links {
				color: #000 !important;
			}
		}
	}
}